sudo: required

notifications:
    email:
        on_success: never
        on_failure: change
    slack:
        rooms:
            secure: Z7TIhh7RWj3aCfp7sBhd0J5EzyrmO8YsyYaZnYlWgKTBQ+YbaKN+bhQ6FmyiBqTtpGF7lhxjYY8Gp3TecRYdUFnGmKhf1FgM/ctWtBwdYlNSmCFFa+GmtNuL38Ih6k1yQXmmZLNABaubO1xDmQKWkH1Mx469p+dDm6Z0/12C4GTRx8TS0zjQMzU0MQqHmizU6bkmFYpBeYwqQx7iNlfSX47lvhk0IgVpgEfzbf8KIR2spEGWQ/dxzOpTez1A/0AKyI74RjYdaVFgPtA6GR8b5K5ia9m22A2ckmhDMkkr//aovVXm23k6rlYqlsbmh6Jyn1SbJDZOZi/D4VsVyMNnHOjQ6HS66v68iSosp7gzKsyhURaUg9wqDRH1+o1RJu7DOZ0iadMIquceLfvmEp3RGxZtaSCQA5jTyA4Cint4r+PTEzi67bu5159r/IkDkBUeLJ/g2j3eF37vBPuzAH+bqN3YSbj/prIrE9ddTFDy5hh+RfzvHxqrv1xmlIRQ3ucg+0Ffpq5eXFHpwMH8un0OBA9xhTliOLPnmhodIHTgFI+/1dQjc3zaKw6Wc40JrZsiN7IYIMx02J7xzsASFlnF2WJ6pXEw5998PQhZ9darf82sAxWoK58bmTOK5qyuZ5XK+jp5Z2rV4G1L317EoyKPenXbhXB/k+BRf7iDU/RUb7Y=

cache:
  directories:
    - $HOME/phpunit-bin

language:
  - php
  - node_js

php:
  - 7.2.6

env:
    global:
        - WP_VERSION=4.9.6
        - WP_MULTISITE=0
        - PHPUNIT_VERSION=6

install:
  - sudo apt-get install -y libxml2-utils
  - nvm install 6 && nvm use 6
  - npm install && composer install --no-interaction
  - export DEV_LIB_PATH=dev-lib
  - if [ ! -e "$DEV_LIB_PATH" ] && [ -L .travis.yml ]; then export DEV_LIB_PATH=$( dirname $( readlink .travis.yml ) ); fi
  - if [ ! -e "$DEV_LIB_PATH" ]; then git clone https://github.com/xwp/wp-dev-lib.git $DEV_LIB_PATH; fi
  - git clone -b develop https://github.com/wptide/wp-tide-api.git /tmp/wordpress/src/wp-content/plugins/wp-tide-api
  - source $DEV_LIB_PATH/travis.install.sh

script:
  - source $DEV_LIB_PATH/travis.script.sh

after_script:
  - source $DEV_LIB_PATH/travis.after_script.sh
